<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Home do Aluno</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-4">
        <h1>Bem-vindo, Aluno!</h1>

        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5>Minhas Ofertas</h5>
                    </div>
                    <div class="card-body">
                        <p>Visualize as ofertas em que você está matriculado e acompanhe o status do estágio.</p>
                        <a th:href="@{/aluno/ofertas}" class="btn btn-primary">Ver Ofertas</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5>Próximos Passos</h5>
                    </div>
                    <div class="card-body">
                        <p>Envie seu plano de trabalho ou documentação para obter créditos.</p>
                        <a href="#" class="btn btn-secondary disabled">Em breve</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>